	@charset "utf-8";
	/*index css start*/
	header nav{
		position: absolute;
		height: 150px;
		z-index: 99;
		background: rgba(0%,0%,0%,0) !important;
	}

	header nav .logo a{
		position:absolute;
		width: 100px;
	}

	header nav .menu ul li a{
		font-size:20px;
		font-weight: 900;
		font-family:Microsoft JhengHei;
	}

	/*materialize css 控制視窗小於X的時候 按鈕不見*/
	@media only screen and (max-width: 770px) {
	  .hide-on-med-and-down {
	    display: none !important;
	  }
	}

	header .imves{
		position:relative;
	/* 	top:-20px;*/
	 	width: 100%;
	 	height: 550px;
	 	overflow: hidden;
	} 

	header .imves .bigimg img{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	  	background-size: cover;
	}

	header .imves .bigtitle{
		position: relative;
		transform:translateY(80%);
		left: 60%;
	}

	header .imves .bigtitle h2,h5,a{
		font-weight: 900;
		font-family:Microsoft JhengHei;
		color: #FFF;
	}
	header .imves .bigtitle .titleh5{
		position: relative;
		top:-17px;
	}
	header #login{
		width: 330px !important; 
		height: 500px !important;

	}
	#searchi{
		position: absolute;
		margin: auto 50%;
		transform:translateX(-50%);
		bottom: 0;
		height: 75px;
		width: 100%;
		z-index: 99;
		/*background: rgba(0%,10%,20%,0.6);*/
	}
	.search{
		position: relative;
		transform:translateY(-10%);
		top:25%;
		width: 45%;
		z-index: 999;
		margin: 0px auto;
	}
	#mainimg{
		position: relative;
		left: 50%;
		transform:translateX(-50%);
		width: 90%;
	}

	#mainimg .mainAlign1{
		position: relative;
		left: 51.5%;
		transform:translateX(-50%);
		width: 90%;
		background-color: blue;
	}
	#mainimg .mainAlign1 .mainphotoin{
		animation-duration:5s;
		position: relative;
		width: 315px;
		height: 345px;
		margin: 1.3%;
	}
	#mainimg .mainAlign1 .mainphotoinbig{
		position: relative;
		width: 660px;
		height: 345px;
		margin: 1.3%;
	}
	#mainimg .mainAlign1  img:hover{
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
	}
	/*index css end*/

	/*materialize modal CSS*/
	.modall {
		z-index: 1004 !important;
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		background-color: #fafafa;
		padding: 0;
		max-height: 85%;
		width: 55%;
		margin: auto;
		overflow-y: auto;
		border-radius: 2px;
		will-change: top, opacity;
	}

	/*hide CSS*/
	.display-n{
		display: none;
	}